In [2]:
import pandas as pd

# STEP 1

In [9]:
# Example importing the CSV here

df = pd.read_csv('../data/raw/AB_NYC_2019.csv',index_col=0)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48895 entries, 2539 to 36487245
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            48879 non-null  object
 1   host_id                         48895 non-null  int64
 2   host_name                       48874 non-null  object
 3   neighbourhood_group             48895 non-null  object
 4   neighbourhood                   48895 non-null  object
 5   latitude                        48895 non-null  float64
 6   longitude                       48895 non-null  float64
 7   room_type                       48895 non-null  object
 8   price                           48895 non-null  int64
 9   minimum_nights                  48895 non-null  int64
 10  number_of_reviews               48895 non-null  int64
 11  last_review                     38843 non-null  object
 12  reviews_per_month               38843 non-null  float64
 13  calculated_host_listings_count  48895 non-null  int64
 14  availability_365                48895 non-null  int64
dtypes: float64(3), int64(6), object(6)
memory usage: 6.0+ MB

In [29]:
df.sample(10)

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
159815,Red Room for two in Brownstone for $1355/mo,54275,JT And Tiziana,Brooklyn,Bedford-Stuyvesant,40.67980,-73.93908,Private room,80,1,39,2019-06-24,0.41,3,218
34277091,Entire sunny apartment in Crown Heights,34648989,Sebasti√°n,Brooklyn,Crown Heights,40.67058,-73.95347,Entire home/apt,97,6,0,NaT,NaN,1,101
14272980,Clean 1 Bed/with En Suite Shower,84684940,Clyde,Brooklyn,Flatbush,40.64831,-73.96181,Private room,50,3,98,2019-06-20,2.77,2,140
32493320,Charming Brooklyn studio,244135864,Alanna,Brooklyn,Bushwick,40.70305,-73.93127,Entire home/apt,69,2,4,2019-02-20,0.86,1,0
21934202,Sunny and Spacious Bedroom w/ Private Bathroom,16855791,Agus,Brooklyn,Williamsburg,40.70230,-73.94190,Private room,65,3,47,2019-06-25,2.47,1,238
3684302,Crown Hts Beauty: Quiet and Cozy!,18030682,Amanda,Brooklyn,Crown Heights,40.67472,-73.94737,Entire home/apt,100,7,46,2019-06-29,0.87,1,0
8719788,"Big, Convenient, Working Fireplace!",18052038,Caroline,Brooklyn,Fort Greene,40.68601,-73.97813,Entire home/apt,175,1,0,NaT,NaN,1,0
34834494,"Big Sunny Room in the heart of Greenpoint, BK",9943690,Lisha,Brooklyn,Greenpoint,40.72618,-73.94971,Private room,55,5,0,NaT,NaN,1,136
9772486,Williamsburg 2000sqft,50385630,Bradley,Brooklyn,Williamsburg,40.71712,-73.94671,Private room,477,2,1,2016-10-10,0.03,1,358
30756760,Cozy Room with a view,144124452,Yemi,Queens,Rosedale,40.65291,-73.73458,Private room,55,1,9,2019-04-21,1.34,3,30

In [12]:
df=df.astype({'name':'str','host_name':'str','neighbourhood_group':'category','neighbourhood':'category','room_type':'category'})
df['last_review'] = pd.to_datetime(df['last_review'], format="%Y/%m/%d")
df.dtypes

name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                     category
neighbourhood                           category
latitude                                 float64
longitude                                float64
room_type                               category
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

In [15]:
round(df.describe(include=['category','datetime64'],datetime_is_numeric=True))

,neighbourhood_group,neighbourhood,room_type,last_review
count,48895,48895,48895,38843
unique,5,221,3,NaN
top,Manhattan,Williamsburg,Entire home/apt,NaN
freq,21661,3920,25409,NaN
mean,NaN,NaN,NaN,2018-10-04 01:47:23.910099456
min,NaN,NaN,NaN,2011-03-28 00:00:00
25%,NaN,NaN,NaN,2018-07-08 00:00:00
50%,NaN,NaN,NaN,2019-05-19 00:00:00
75%,NaN,NaN,NaN,2019-06-23 00:00:00
max,NaN,NaN,NaN,2019-07-08 00:00:00

In [23]:
#in this case 3 room_type
room_type=list(df['room_type'].unique())
room_type

['Private room', 'Entire home/apt', 'Shared room']

In [24]:
#in this case 5 neighbourhood_group
neighbourhood_group=list(df['neighbourhood_group'].unique())
neighbourhood_group

['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx']

# STEP 2
## What can we learn about different hosts and areas?

In [40]:
#top 10 of hosting by number_of_reviews
#df.groupby(['host_id'])['number_of_reviews','id'].agg({'id':pd.Series.nunique,'number_of_reviews':'sum'}).sort_values(by=['number_of_reviews','id'],ascending=False)[0:10]
df.groupby(['host_id'])['host_id','number_of_reviews'].agg({'number_of_reviews':sum}).sort_values(by=['number_of_reviews','host_id'],ascending=False)[0:10]

/tmp/ipykernel_1460/451569839.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['host_id'])['host_id','number_of_reviews'].agg({'number_of_reviews':sum}).sort_values(by=['number_of_reviews','host_id'],ascending=False)[0:10]

           number_of_reviews
host_id
37312959                2273
344035                  2205
26432133                2017
35524316                1971
40176101                1818
4734398                 1798
16677326                1355
6885157                 1346
219517861               1281
23591164                1269

In [26]:
#top 10 of neighbourhood by reviews
df.groupby(['host_id','neighbourhood'])['host_id','number_of_reviews','neighbourhood'].agg({'number_of_reviews':sum}).sort_values(by=['number_of_reviews','neighbourhood'],ascending=False)[0:10]

/tmp/ipykernel_1460/2576003991.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['host_id','neighbourhood'])['host_id','number_of_reviews','neighbourhood'].agg({'number_of_reviews':sum}).sort_values(by=['number_of_reviews','neighbourhood'],ascending=False)[0:10]

                             number_of_reviews
host_id  neighbourhood
37312959 East Elmhurst                    2273
344035   Prospect Heights                 2205
26432133 East Elmhurst                    2017
35524316 Hell's Kitchen                   1971
40176101 Bedford-Stuyvesant               1818
4734398  Harlem                           1798
16677326 Chelsea                          1355
6885157  Bedford-Stuyvesant               1346
23591164 East Elmhurst                    1269
59529529 Hell's Kitchen                   1229

In [48]:
df.groupby(['neighbourhood'])['number_of_reviews','neighbourhood','host_id'].agg({'number_of_reviews':'sum', 'host_id':'count'}).sort_values(by=['number_of_reviews','neighbourhood'],ascending=False)[0:10]

/tmp/ipykernel_1460/1091034255.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['neighbourhood'])['number_of_reviews','neighbourhood','host_id'].agg({'number_of_reviews':'sum', 'host_id':'count'}).sort_values(by=['number_of_reviews','neighbourhood'],ascending=False)[0:10]

                    number_of_reviews  host_id
neighbourhood
Bedford-Stuyvesant             110352     3714
Williamsburg                    85427     3920
Harlem                          75962     2658
Bushwick                        52514     2465
Hell's Kitchen                  50227     1958
East Village                    44670     1853
East Harlem                     36446     1117
Crown Heights                   36408     1564
Upper West Side                 36058     1971
Upper East Side                 31686     1798